.circle {
  position: absolute;
  top: calc(50% - 265px);
  left: calc(50% - 265px);
}

.intervals {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
  }
}

@media (max-width: 1024px) {
  .intervals {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .intervals {
    height: 100%;
    margin: 0;
    padding-bottom: 100px;

    &::before {
    width: 0;
  }
  }
}

