.custom-prev-btn,
.custom-next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--color-blue);
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);

}

.custom-prev-btn::after,
.custom-next-btn::after {
  content: "";
}

.custom-prev-btn:disabled,
.custom-next-btn:disabled {
  display: none;
}

.custom-prev-btn {
  position: absolute;
  left: -60px;
  top: 40%;
  transform: rotateY(180deg);
}

.custom-next-btn {
  position: absolute;
  right: -10px;
  top: 40%;
}

@media (max-width: 768px) {
  .custom-prev-btn,
  .custom-next-btn {
    display: none;
  }
}