$left-ratio: 2;
$right-ratio: 1;

:root {
  --content-width: 1440px;
}

@media (max-width: 1366px) {
  :root {
    --content-width: 1240px;
  }
}

@media (max-width: 1024px) {
  :root {
    --content-width: 980px;
  }
}


.page {
  position:relative;
  width: var(--content-width);
  height: 100%;
  margin-left: calc((100% - var(--content-width)) * #{$left-ratio} / (#{$left-ratio} + #{$right-ratio}));
  margin-right: calc((100% - var(--content-width)) * #{$right-ratio} / (#{$left-ratio} + #{$right-ratio}));
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

.title {
  position: absolute;
  top: 15%;
  left: 0;
  display: block;
  padding-left: 80px;
  font: var(--font-xl);
  font-weight: 700;
  border-left: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);
}

@media (max-width: 1366px) {
  .title {
    top: 10%;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 48px;
    line-height: 57px;
  }
}

@media (max-width: 768px) {
  .page {
    margin: 0;
    width: 100%;
    border: none;
  }

  .title {
    position: inherit;
    padding: 60px 0 56px 20px;
    font: var(--font-m);
    font-weight: 700;
    border: none
  }
}