.page {
  padding: 170px 40px 104px 80px;
  border-left: 1px solid rgba(66, 86, 122, 0.1);
  border-right: 1px solid rgba(66, 86, 122, 0.1);
}

.title {
  width: 350px;
  margin-bottom: 96px;
  font: var(--font-xl);
  font-weight: 700;
}