.container {
  margin: 0 auto;
  margin-bottom: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  font: var(--font-xxl)
}

.startNumber {
  color: var(--color-blue);
  font-weight: 700;
  letter-spacing: -4px;
}

.endNumber {
  color: var(--color-rose);
  font-weight: 700;
  letter-spacing: -4px;
}

