.circleContainer {
  display: block;
  transform-origin: center;
  transform-box: fill-box;
}

.point {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.3s, fill 0.3s;
  fill: var(--color-black)
}

.pointText,
.fieldText {
  display: none;
  font-size: 20px;
  fill: var(--color-black); 
  pointer-events: none;
}

.fieldText.visible {
  display: inline;
}

.border {
 cursor: pointer; 

 &:hover+.point,
 &.active+.point {
  stroke: rgba(66, 86, 122, 0.2);
  stroke-width: 0.2;
  fill: none;
  transform: scale(6);

  &+.pointText {
    display: inline;
   }
 }
}