.container {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  font: var(--font-xxl)
}

.startNumber,
.endNumber {
  font-weight: 700;
  letter-spacing: -4px;
}

.startNumber {
  color: var(--color-blue);
}

.endNumber {
  color: var(--color-rose);
}

@media (max-width: 1025px) {
  .container {
    font-size: 160px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    gap: 20px;
    font: var(--font-xl);
  }

  .startNumber,
  .endNumber {
    font-weight: 700;
    letter-spacing: -2px;
  }
}


