.container {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  font: var(--font-xxl)
}

.startNumber {
  color: var(--color-blue);
  font-weight: 700;
  letter-spacing: -4px;
}

.endNumber {
  color: var(--color-rose);
  font-weight: 700;
  letter-spacing: -4px;
}

@media (max-width: 1025px) {
  .container {
    font-size: 160px;
  }
}


